# Python
venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Large datasets

dataset/raw/
dataset/cleaned/
dataset/merged/
datasets/
dataset/


# OS files
.DS_Store
Thumbs.db

desktop.ini

# Local Python environments
tf_eval/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Generated MU-IoT temporary data
dataset/processed/mu_iot/handoff_v2/_temp/
