# Python
venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Large datasets

dataset/raw/
dataset/cleaned/
dataset/merged/
datasets/
dataset/


# OS files
.DS_Store
Thumbs.db

desktop.ini